aiohttp==3.7.3
async-timeout==3.0.1
attrs==20.3.0
autopep8==1.5.5
beautifulsoup4==4.9.3
cdifflib==1.2.5
certifi==2020.12.5
cffi==1.14.5
chardet==3.0.4
discord.py==1.6.0
idna==2.10
multidict==5.1.0
pycodestyle==2.6.0
pycparser==2.20
PyNaCl==1.4.0
PyPDF2==1.26.0
requests==2.25.1
six==1.15.0
soupsieve==2.2
toml==0.10.2
typing-extensions==3.7.4.3
urllib3==1.26.3
yarl==1.6.3
